<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links locales -->
    <link rel="stylesheet" href="../styles/styles1.css">
    <link rel="stylesheet" href="../styles/styles2.css">
    <link rel="icon" href="../imagenes de juegos/mando.png">
    <!-- links externos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
    <!-- title -->
    <title>Repositorios</title>
</head>
<body>
    <header class="titulo">
        <div class="logo-input">
            <h1>Mundo Cracking</h1>
        </div>
    </header>
    <br><br><br>
    <section>
        <div>
            <p class="introduccion"> Los mejores repositorios de github!!!
            </p>
        </div>
        <div class="directions">
            <div>
                <a href="../index.html">HOME</a>
            </div>
            <div>
                <a href="./apps.html">APPS</a>
            </div>
        </div>

        <div class="parent">

            <div class="cards">
                <img src="https://iforum-de.c.huawei.com/dddd/uk/images/2021/5/12/cd7f3864-0be9-412a-86b0-c721cd964243.png" alt="">

                <div class="overlay">
                    <h2>VANCED</h2>
                    <div>
                        <a 
                            target="_blank" 
                            href="https://github.com/cuynu/ytvanced">
                            Repositorio
                        </a>
                    </div>
                </div>
            </div>

            <div class="cards">
                <img src="https://modcombo.com/uploads/2022/6/spotiflyer-icons.png" alt="">

                <div class="overlay">
                    <h2>SPOTIFLYER</h2>
                    <div>
                        <a 
                            target="_blank" 
                            href="https://github.com/Shabinder/SpotiFlyer">
                            Repositorio
                        </a>

                    </div>
                </div>
            </div>

            <div class="cards">
                <img src="https://avatars.githubusercontent.com/u/100136310?s=400&v=4" alt="">

                <div class="overlay">
                    <h2>SPICETIFY</h2>
                    <div>
                        <a 
                            target="_blank" 
                            href="https://github.com/spicetify/spicetify-cli">
                            Repositorio
                        </a>

                    </div>
                </div>
            </div>
            
            <div class="cards">
                <img src="https://styles.redditmedia.com/t5_43968d/styles/communityIcon_need2petqmq61.png" alt="">

                <div class="overlay">
                    <h2>XTRA FOR TWITCH</h2>
                    <div>
                        <a 
                            target="_blank" 
                            href="https://github.com/crackededed/Xtra">
                            Repositorio
                        </a>

                    </div>
                </div>
            </div>

            <div class="cards">
                <img src="https://archive.org/download/smart-tube-next-icon/SmartTube-Next-icon.png" alt="">

                <div class="overlay">
                    <h2>SMART TUBE NEXT</h2>
                    <div>
                        <a 
                            target="_blank" 
                            href="https://github.com/yuliskov/SmartTubeNext">
                            Repositorio
                        </a>

                    </div>
                </div>
            </div>

            <div class="cards">
                <img src="https://betterdiscord.app/resources/branding/logo_solid.png" alt="">

                <div class="overlay">
                    <h2>BETTER DISCORD</h2>
                    <div>
                        <a 
                            target="_blank" 
                            href="https://github.com/BetterDiscord/BetterDiscord">
                            Repositorio
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <footer>
        <hr>
        <div class="pie">
            <p>
                PRONTO SE VIENEN MAS VARIEDAD
            </p>
        </div>
    </footer>
</body>
</html>