.cuphead{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;

}
.geometry{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
/* nueva card */
.geometry2{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.geometry2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 15px;
}
.geometry2 .overlay{
    height: 100%;
    width: 100%;
    color: #fff;
    position: absolute;
    z-index: 200;
    border-radius: 15px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.432), transparent);
}
.geometry2 .overlay h2{
    margin-top: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize !important;
    font-family: 'Poppins';
}
.geometry2 .overlay div{
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    gap: 7px;
    backdrop-filter: blur(3px);
    background: #9191918a;
}
.geometry2 .overlay div a{
    padding: 7px 10px;
    background: rgb(17, 17, 17);
    border-radius: 15px;
}
/* end nueva card */
.halo2{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.seconds60{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.human{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.maincra{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.plague{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.happywells{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.broforce{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.bendy{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    padding: 5px;
    
}
.fnaf1{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;

    
}
.fnaf2{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.fnaf3{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.fnaf4{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
    
}
.sister{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    padding: 5px;
    
}
.super{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.office{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.spo{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.freezer{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.ilus{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.audition{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.filmora{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.gant{
        background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
        margin: 25px 23px;
        border-radius: 15px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        padding: 5px;
    
}
.tuis{
        background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
        margin: 25px 23px;
        border-radius: 15px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        padding: 5px;
}