.super{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.office{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.spo{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.freezer{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.ilus{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.audition{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.filmora{
    background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
    margin: 25px 23px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    padding: 5px;
}
.gant{
        background: linear-gradient(180deg, rgba(210,98,195,1) 0%, rgba(0,255,252,1) 100%);
        margin: 25px 23px;
        border-radius: 15px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        padding: 5px;
    
}